.container{
    display: flex;
}

.container div{
    border: 1px solid rgb(200, 200, 200);
    padding:10px;
    width: 50px;
}

.box-1{
    flex:1;
    order:2;
}

.box-2{
    flex:2;
    order:1;
}

.box-3{
    flex:1;
    order:3;
}
