body{

    margin:0px;

}
nav{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
nav>.p1{
    flex:1;
    background-color:antiquewhite;
}
nav>.p2{
    flex:1;
    background-color: blanchedalmond;
}

nav>.p3{
    flex:1;
    background-color:beige;
}
/* nav2{
    justify-content: center;
    display: flex;
}
nav2>.p1{
    width: 50%;
    flex: none;
}
nav2>.p2{
    width: 50%;
    flex: none;
} */